
<h1 style="color: darkcyan">
  PESSOA
</h1>

 <label>Nome:
    <input [(ngModel)]="pessoa.nome"><br>
  <label>cpf:
    <input [(ngModel)]="pessoa.cpf"><br>
  <label>email:
    <input [(ngModel)]="pessoa.email"><br>
  <label>cep:
    <input [(ngModel)]="pessoa.endereco.cep"><br>
  <label>logradouro:
    <input [(ngModel)]="pessoa.endereco.logradouro"><br>
  <label>numero:
    <input [(ngModel)]="pessoa.endereco.numero"><br>
  <label>complemento:
    <input [(ngModel)]="pessoa.endereco.complemento"><br>
  <label>bairro:
    <input [(ngModel)]="pessoa.endereco.bairro"> <br>
  <label>cidade:
    <input [(ngModel)]="pessoa.endereco.cidade">  <br>
  <label>uf:
    <input [(ngModel)]="pessoa.endereco.uf"> <br>


  <button (click)="salvar()">Salvar</button>