
<h1 style="color: darkcyan">
  PESSOA
</h1>

 <label>Nome:
    <input [(ngModel)]="pessoa.nome" name="pessoa.nome"> 
    <br>
  <label>cpf:
    <input [(ngModel)]="pessoa.cpf"><br>
  <label>email:
    <input [(ngModel)]="pessoa.email"><br>
  <label>cep:
    <input [(ngModel)]="pessoa.enderecodto.cep"><br>
  <label>logradouro:
    <input [(ngModel)]="pessoa.enderecodto.logradouro"><br>
  <label>numero:
    <input [(ngModel)]="pessoa.enderecodto.numero"><br>
  <label>complemento:
    <input [(ngModel)]="pessoa.enderecodto.complemento"><br>
  <label>bairro:
    <input [(ngModel)]="pessoa.enderecodto.bairro"> <br>
  <label>cidade:
    <input [(ngModel)]="pessoa.enderecodto.cidade">  <br>
  <label>uf:
    <input [(ngModel)]="pessoa.enderecodto.uf"> <br>


  <button (click)="salvar()">Salvar</button>