<h1>App Component</h1>

<!--<div>
  <a [routerLink]="[ '/tipo-produto/create' ]">[Form] Tipo produto</a>
</div>
<div>
  <a [routerLink]="[ '/tipo-produto' ]">[List] Tipo produto</a>
</div>
<div>
  <a [routerLink]="[ '/input' ]">[Input] Decorator</a>
</div>
<div>
    <a [routerLink]="[ '/reactive' ]">[Forms] Reactive forms</a>
</div>
-->
<div>
  <a [routerLink]="[ '/tipo-pessoa/list']"> Listar pessoa</a>
</div>
<div>
  <a [routerLink]="[ '/tipo-pessoa/form']"> Cadastrar pessoa</a>
</div>
<div>
  <a [routerLink]="[ '/tipo-livro/list']"> Listar livro</a>
</div>
<div>
    <a [routerLink]="[ '/tipo-livro/form']"> Cadastrar livro</a>
</div>
<router-outlet></router-outlet>
